# ============================================
# Base de Datos
# ============================================
POSTGRES_DB=tempdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# ============================================
# Spring Boot Datasource
# ============================================
SPRING_DATASOURCE_URL=jdbc:postgresql://temp-db:5432/tempdb
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# ============================================
# JWT
# ============================================
APP_JWT_EXPIRATION_HOURS=24

# Clave HMAC en Base64 (al menos 32 bytes para HS256)
APP_JWT_SECRET=ezkyO/2l7ExQ5LfJYgGT1dVtF1WGAFMAY6vtvomGmxY=

# ============================================
# Puerto de la aplicación
# ============================================
SERVER_PORT=8080
